%head
  %meta{:content=>'text/html; charset=UTF-8', 'http-equiv'=>'Content-Type'}
%body
  %h1 Welcome to BUBS!
  %p
    You have successfully signed up for BUBS.
    Your user name is: 
    =@user.email
  %p Have a wonderful day!
