=render 'navbar'
.container-fluid
  #Contact_us_page
    %h3 Contact Us
  .error_message
    %div
      -if flash[:error]
        =flash[:error]
  .success_message
    %div
      -if flash[:notice]
        =flash[:notice]
  #information
    %p
      %a{:href => "mailto:binghamtonbikeshare@gmail.com"}Binghamton Bike Share Email
    %br
    
    =form_tag contact_us_email_form_page_path, :id => 'contact_us_email_form', :method => :post, :action => 'contact_us_email_form_page' do

      .text
        %br
          =label :email_form, :name, 'YOUR NAME (required)'
          =text_field :email_form, :name, :placeholder => 'Name'
        %br
          =label :email_form, :email, 'YOUR EMAIL (required)'
          =text_field :email_form, :email, :placeholder => 'Email'
        %br
          =label :email_form, :message, 'YOUR MESSAGE'
          =text_area :email_form,:message, :placeholder => 'Message', :rows => 5
        %br
          =text_field :email_form, :fellforit, :id => 'f-fellforit', :placeholder => "How can we help you?"
        %br
          =submit_tag "Send", :controller => 'welcome', :id => 'send'
    %br
    %strong Eboard
    %ul
      %p 
        President - 
        %a{:href => "mailto:stracy1@binghamton.edu"}Shane Tracy
      %p 
        Vice President - 
        %a{:href => "mailto:msher1@binghamton.edu"}Markus Sher
      %p 
        Treasurer - 
        %a{:href => "mailto:hfriedm3@binghamton.edu"}Hallie Friedman
      %p 
        Projects Manager -  
        %a{:href => "kgoodwi2@binghamton.edu"}Kyle Goodwill
      %p 
        Outreach - 
        %a{:href => "mailto:jtoder1@binghamton.edu"}Jesse Toder
    %br
    %p
      %strong Check-Out Location: 
      Old Union Information
    %p
      %strong Check-Out Times: 
      Everyday 12:00pm-8:00pm
    %hr
    %p
      %strong Want to join Bike Share club?
    %p Meetings are Mondays at 9:15 PM in APP 111
    %p Come by to see how it works behind the scenes and leave a lasting impact on Binghamton University
    %hr
