=render 'navbar'

%h1 User does not exist!
%p Incorrect user name or password. Please try again.

<<<<<<< HEAD

=======
>>>>>>> 615e2779df0e990f73e21354f679d6d7038e96d9
=link_to "Back to Sign-In", sign_in_page_path
